@import url('https://fonts.googleapis.com/css?family=Changa:400,600');
body{
    direction: rtl;
    

}

@font-face {
    font-family: open-sans;
    src: url("../fonts/OpenSans/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans.woff") format("woff"), url("../fonts/OpenSans/OpenSans.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans.svg#OpenSans") format("svg");
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0000-05FF, U+0700-FB4F, U+FE00-FE6F, U+FF00-FFFF
}

@font-face {
    font-family: open-sans;
    src: url("../fonts/OpenSans-Semibold/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold/OpenSans-Semibold.ttf") format("truetype"), url("../fonts/OpenSans-Semibold/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg");
    font-weight: 700;
    font-style: normal;
    unicode-range: U+0000-05FF, U+0700-FB4F, U+FE00-FE6F, U+FF00-FFFF
}

@font-face {
    font-family: droid-arabic;
    src: url("../fonts/DroidNaskh/DroidNaskh-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidNaskh/DroidNaskh-Regular.woff") format("woff"), url("../fonts/DroidNaskh/DroidNaskh-Regular.ttf") format("truetype"), url("../fonts/DroidNaskh/DroidNaskh-Regular.svg#DroidNaskh") format("svg");
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0600-06FF, U+FB50FD FF, U+FE70-FEFF
}

@font-face {
    font-family: droid-arabic;
    src: url("../fonts/DroidNaskh/DroidNaskh-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidNaskh/DroidNaskh-Bold.woff") format("woff"), url("../fonts/DroidNaskh/DroidNaskh-Bold.ttf") format("truetype"), url("../fonts/DroidNaskh/DroidNaskh-Bold.svg#DroidNaskh-Bold") format("svg");
    font-weight: 700;
    font-style: normal;
    unicode-range: U+0600-06FF, U+FB50FD FF, U+FE70-FEFF
}

* {
    font-family: 'Changa', sans-serif;
}

/* Login and register */
#login,#register,#lock{
    direction: rtl;
    text-align: right;
}

/* logo nave bar */
#topnav .topbar-main .logo .logo-large, #topnav .topbar-main .logo-small {
    height: auto;
    width: 75px;
}

/* Profile */
.profile-dropdown {
    text-align: right;
    direction: rtl;
}

/* Navbar */

#topnav .navbar-custom {
    background-color: #FFF;
}

#topnav .navbar-custom #navigation {
    border-radius: 0;
    margin: 0;
    box-shadow: none;
    text-align: center;
    top: auto !important;
    direction: rtl;
}

#topnav .navigation-menu > li {
    text-align: right;

}

#topnav .navigation-menu > li .submenu.megamenu > li {
    text-align: right;
}

.card-title, .card-text, .card-subtitle {
    direction: rtl;
    text-align: right;
}
.card-subtitle{
    margin-bottom: 25px
}
.dropdown.bootstrap-select .btn-light {
    color: #212529;
    background-color: #ffffff;
    border-color: #ced4da;
    padding-bottom: 11px;
}
.form-body.row{
    flex-direction: row-reverse;
    justify-content: space-around;
}
@media (min-width:576px){
    .card-columns{direction: rtl}
}
/* Main */

.wrapper {
    padding-top: 200px;
}

/* Cards */
.card .img-fluid {
    position: relative;
    z-index: 999
}
.card-body{
    position: relative;
}
.card-body .card-price {
    position: absolute;
    top: 20px;
    left: 20px
}
.card-body .card-price .price-title {
    font-weight: bold
}
.card-body .cardSetting{
    position: absolute;
    top: 32px;
    left: 20px
}
.card-body .cardSetting > a > i {
    margin: 0 12px;
    cursor: pointer;
    font-size: 17px;
    color: #b1b1b1;
}
.shareBtn{
    float: left;
    margin-bottom: 20px;
}
.viewBtn{
    float: right;
    margin-top: -4px;
}
.card-body .cardSetting a{
    position: relative;
    color: inherit;
    display: inline-block
}
.card-body  .card-link  i.fa-2x {
    font-size: 17px;
    color: #b1b1b1;
}
.card-body .cardSetting .confirmRemove{
    background: #FFF;
    padding: 10px 20px;
    -webkit-box-shadow: 0 -3px 31px 0 rgba(0,0,0,.05), 0 6px 20px 0 rgba(0,0,0,.02);
    box-shadow: 0 -3px 31px 0 rgba(0,0,0,.05), 0 6px 20px 0 rgba(0,0,0,.02);
    top: 30px;
    position: absolute;
    width: 185px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%) rotateX(90deg);
    transform-origin: top;
    transition: all 0.3s ease-in-out;
    z-index: 9999
}
.card-body .cardSetting .confirmRemove.active{
    transform: translateX(-50%) rotateX(0deg);
}
.card-body .cardSetting .confirmRemove:before{
       content: "";
    border-width: 10px;
    border-style: solid;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #FFF;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.card-body .cardSetting > a > i.fa-edit:hover{
    color: #49297e
}
.card-body .cardSetting > a > i.fa-trash:hover{
    color: #cc2074
}
.card-link {
    margin-left: 1.25rem;
}
.card-body .card-title{
    font-weight: 700
}
.card .media{
    background: #f8f8f8
}
.comment .form-group{
    padding: 10px 20px 
}
.comment .form-group button {
    text-align: right;
    display: block;
    margin: 20px 0 0;
}
.card.price .media {
    display: block
}
.card.price .media h6 {
    float: right
}
.card.price .media p {
    float: left
}
/* Custom File upload */
.upload-file{
    margin: 26px 0 0 0;
    padding: 10px;
    width: 100%;
    max-width: 100%;
    height:auto;
    background-color:#3eb7ba;
    border:none;
    color:#fff;
    cursor:pointer;
    text-align:center;
    border-radius:5px;
    -webkit-border-radius:5px;
    -webkit-transition:0.3s ease all;
     -moz-transition:0.3s ease all;
      -ms-transition:0.3s ease all;
       -o-transition:0.3s ease all;
          transition:0.3s ease all;
}


#info {
  display:none;
  margin:5% auto;
	padding:10px 20px;
	width:100%;
	height:auto;
	overflow:hidden;
	background:#f5f5f5;
	border-radius:3px;
}

#size span, #type span, #name span {
  color:#EA4026;
}


[type=file]{
  display:none;
}
/* btn */
.btn-primary:hover {
    box-shadow: 7px 6px 15px -1px #bbb;
    border: none;
}
.btn-primary {
    background: linear-gradient(#cc2074,#49297e);
    border: none;
    transition: all 0.3s ease-in-out;
}
/* icon hover */

.fab.fa-twitter:hover{
   color:  #1da1f2 !important
}
.fab.fa-whatsapp:hover{
   color:  #25D366 !important
}
.fab.fa-instagram:hover{
   color:  #e1306c !important
}
.fab.fa-snapchat-ghost:hover{
   color:  #fffc00 !important
}
/* Show product */
.details .card-text{
    position: absolute;
    bottom: 0;
    left: 10px;
}
.details .card-price{
    top:0;
}
 #copyLink{
    margin-top: 20px;
    background-color: #f5f5f5;
    padding: 10px;
    text-align: left;
    box-shadow: 0 0 8px 0px #aaa inset;
    position: relative
}
#copyLink button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 70px;
    border: none;
    transition: all 0.3s ease-in-out;
    transform: scaleX(0);
    transform-origin: right;
    cursor: pointer
}
.userProfile .green{
    display: none
}
#copyLink:hover button{
    transform: scaleX(1);
}
#copyLink button:hover{
    background: #33c237;
    color: #FFF
}
.details .copyToClipboard {
    display: none;
}
 span.green{
    color: #25D366
}
/* fixedItem */
.fixedItem {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 9999;
    width: 300px;
transform: translateX(300px) translateY(-50%);
    transition: all 0.3s ease-in-out
}
.fixedItem.active{
transform: translateX(0) translateY(-50%);
}
.fixedItem .icon{
    position: absolute;
    top: 50%;
    background: #FFF;
    left: -50px;
    width: 50px;
    height: 50px;
    transform: translateY(-50%);
    text-align: center;
    line-height: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-box-shadow: 0 -3px 31px 0 rgba(0,0,0,.05), 0 6px 20px 0 rgba(0,0,0,.02);
    box-shadow: 0 -3px 31px 0 rgba(0,0,0,.05), 0 6px 20px 0 rgba(0,0,0,.02);
    cursor: pointer
}
/* slider */

.slick-initialized.slick-slider{
    position: relative
}
.slick-initialized.slick-slider .slick-next {
    bottom: 7px;
    position: absolute;
    left:  calc(50% - 12px);
    transform: translateX(-50%);
    z-index: 1;
    border: none;
    background: none;
    font-size: 20px;
    color: #FFF;
    background: linear-gradient(#cc2074,#49297e);
    cursor:pointer
}
.slick-initialized.slick-slider .slick-prev {
    bottom: 7px;
    position: absolute;
    left: calc(50% + 12px);
    transform: translateX(-50%);
    z-index: 1;
    border: none;
    background: none;
    font-size: 20px;
    color: #FFF;
    background: linear-gradient(#cc2074,#49297e);
    cursor:pointer

}
#error {
  font-size: 12px;
  color: red;
}
#results img {
    width: 80px;
    height: 80px;
    display: inline-block;
}
.form-group .custom-control {
    margin-top: 33px
}
/* search filter */
.filter{
    padding: 20px 20px 0
}
.filter .form-group{
    margin-bottom: 0;
    margin-bottom: 20px
}
.filter a.btn-primary{
    display: block;
    padding: 9px 0;
    margin-bottom: 20px
}
.app-search .form-group{
    display: inline-block;
    position: relative;
    margin-right: 20px;
    cursor: pointer
}
.app-search .form-control, .app-search .form-control:focus{
    display: inline-block;
        margin-right: -32px;
}
.has-submenu{
    position: relative
}
.has-submenu .drop-menu{
    position: absolute;
    top:100%;
    left: 50%;
    transform: translateX(-50%) translateY(20px);
    background: #FFF;
    padding: 5px 15px;
    min-width: 200px;
    list-style: none;
    box-shadow: 0 0 30px 6px rgba(31,51,73,.1);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0.3
}
.has-submenu:hover .drop-menu{
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    visibility: visible
}
.has-submenu .drop-menu li a {
    display: block;
    padding: 10px 0;
    color: inherit!important
}
.has-submenu .drop-menu li a i {
    margin-left: 5px
}
.has-submenu .drop-menu li a:hover{
    color: #3eb7ba !important
}
/* fast-links
=============== */
.footer {
    position: static;
    left: auto;
    right: auto;
    padding: 40px 0
}
.fast-links{
    direction: rtl;
    text-align: right
}
footer h4 {
    font-size: 20px
}
.fast-links ul{
    list-style: none
}
.fast-links ul li{
    margin-bottom: 15px
}
.tags span {
    display: inline-block;
    border: 1px solid #5b626b;
    padding: 7px 10px;
    margin: 5px 10px 0 0;
}
.tags span:hover {
    background: #5b626b;
    color: #fafafa
}
/* add-details 
================= */
.add-details{
    position: relative;
}
.add-details span {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0
}
.add-details span b {
    display: block;
    padding: 10px 0 0 10px;
    font-size: 11px;
}
.add-details span:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-width: 45px;
    border-style: solid;
    border-top-color: #fff;
    border-bottom-color: transparent;
    border-left-color: #fff;
    border-right-color: transparent;
    z-index: -1
}
.add-details span:before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    border-width: 47px;
    border-style: solid;
    border-top-color: #000;
    border-bottom-color: transparent;
    border-left-color: #000;
    border-right-color: transparent;
    z-index: -2
}
.card-body .card-subtitle span,
.card-body blockquote small cite span{
    margin-right: 15px
}
/* som */
.som.somshow {
    display: block
}
.som {
    display: none
}

/* about
=============== */
.about {
    
}
.about h3 {
    margin: 0 0 30px
}
.about p {
    font-size: 16px;
    line-height: 2.1
}
.custom-checkbox a{
    text-decoration: underline
}
.custom-checkbox .custom-control-label {
    margin-right: 25px
}
.custom-checkbox .custom-control-label::before,
.custom-checkbox .custom-control-label::after{
    left: auto;
    right: -25px;
    top: 0;
}

/*  media */
@media (max-width: 991px){
    .card-columns{
         -webkit-column-count: 2;
            -moz-column-count: 2;
                 column-count: 2;
    }
    .has-submenu .drop-menu{
        position: static;
        top:auto;
        left: auto;
        transform: translateX(0) translateY(0);
        background: nano;
        padding: 5px 15px;
        width: 100%;
        list-style: none;
        box-shadow: none;
        border-radius: 0;
        transition: all 0.3s ease-in-out;
        visibility: visible;
        opacity: 1
    }
    .has-submenu:hover .drop-menu{
        transform:translate(0);
    }
    .has-submenu .drop-menu li a{
        padding: 11px 8px;
        color: inherit!important;
        font-size: initial;
    }
    .hidden-sms{
        display: none !important
    }
}
@media (max-width: 600px){
    .card-columns{
         -webkit-column-count: 1;
            -moz-column-count: 1;
                 column-count: 1;
    }

}
.slider-category {
    text-align: right;
    width: 100%;
    white-space: nowrap;
    overflow-y: hidden;
    margin: auto;
    overflow-x: scroll;
}
.all-category {
    overflow: hidden
}
.slider-category span {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 25px;
    background: #F8F9FA;
    border: 1px solid #e9ecef;
    margin: 0 10px 10px
}

.card-text .report {
    margin-right: 10px;
    text-decoration: underline
}
/* new edit 27/11
============================ */
.codePhone,
.phoneNum{
    display: inline-block;
}
.codePhone {
    width: 80px;
    margin-left: 16px
}
.phoneNum {
    width: calc(100% - 100px)
}
.call{
    display: inline-block;
    width: 49%
}
.logo-admin {
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    background: rgb(250, 250, 250)
}
.changeImg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom:0;
    transform: scale(0.5);
    opacity: 0.5;
    visibility: hidden;
    transition: all 0.2s ease-in-out
}
.logo-admin:hover .changeImg{
     transform: scale(1);
    opacity:1;
    visibility: visible
}
.changeImg i {
    color: #FFF;
    font-size: 50px
}
.photoAdd {
    max-height: 460px;
    overflow: hidden;
    min-height: 450px;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.showProtuct .photoAdd {
    display: block;
    background: #ffffff;
}
.card  .card-body > p.card-text{
    height: 22px;
    overflow: hidden
}


#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modalDiv {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-contents {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-contents, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff!important;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    opacity: 1
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}



.pricing-plan-list {
    display: flex;
    justify-content: center;
    margin: 80px auto;
}

.pricing-plan {
  position: relative;
  width: 260px;
  padding: 40px 0;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(67, 74, 84, 0.2);
  border-radius: 4px;
  overflow: hidden;
}
.pricing-plan:first-child .pricing-plan__price {
  color: #65C163;
}
.pricing-plan:first-child:before {
  background-image: linear-gradient(90deg, #BEDE2F 0%, #30C85F 100%);
}
.pricing-plan:nth-child(2) .pricing-plan__price {
  color: #31A3D2;
}
.pricing-plan:nth-child(2):before {
  background-image: linear-gradient(90deg, #29C4CF 0%, #3A7BD5 100%);
}
.pricing-plan:last-child .pricing-plan__price {
  color: #794EB1;
}
.pricing-plan:last-child:before {
  background-image: linear-gradient(90deg, #3E6DCC 0%, #9014E8 100%);
}
.pricing-plan:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
}

.pricing-plan--featured {
  z-index: 1;
  width: 330px;
  margin: -30px -20px;
  box-shadow: 0px 8px 25px 0px rgba(67, 74, 84, 0.16);
}
.pricing-plan--featured .pricing-plan__name {
  margin-top: 30px;
}

.pricing-plan__name,
.pricing-plan__price {
  font-weight: 200;
}

.pricing-plan__name {
  font-size: 32px;
  margin: 0 0 25px 0;
}

.pricing-plan__price {
  font-size: 60px;
  margin: 0 0 5px 0;
}

.pricing-plan__disclosure {
  font-size: 12px;
  color: #a1a5aa;
}

.pricing-plan__feature-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  margin-top: 25px;
  line-height: 2.5;
  color: #656D78;
}
@media(max-width:800px){
    .pricing-plan-list{
        flex-direction: column;
        align-items: center;
        margin: 0
    }
    pricing-plan pricing-plan--featured,
    .pricing-plan {
        width: 330px;
        margin: 20px auto !important;
    }
}
@media(max-width:400px){
     pricing-plan pricing-plan--featured,
    .pricing-plan {
        width: 280px
    }
}
/* showHorz
=================== */
.showHorz{
    display: flex;
    flex-direction: row
}
.showHorz .card-body{
    width: 50%
}
.showHorz .card-body > p.card-text{
    height: auto
}
.showHorz .card-body:first-child {
    width: 150px
}
.showHorz .photoAdd {
    max-height: 175px;
    min-height: auto
}
/* showAdds
============== */
.showAdds{
    padding: 10px 0 20px
}
.showAdds i {
    font-size: 21px;
    margin: 0 20px;
    cursor: pointer;
    background: #FFF;
    padding: 20px;
    border-radius: 8px;
    -webkit-box-shadow: 0 -3px 31px 0 rgba(0,0,0,.05), 0 6px 20px 0 rgba(0,0,0,.02);
    box-shadow: 0 -3px 31px 0 rgba(0,0,0,.05), 0 6px 20px 0 rgba(0,0,0,.02);
}
@media(max-width:800px){
    .showAdds{
        display: none !important;
    }
}
/* p-more
====== */
.p-more{
    max-height: 65px;
    overflow: hidden;
    
}
.p-more.autoH{
    max-height: 100%
}
.readP-more {
    color: #0000ed;
    display: block;
    margin-bottom: 20px;
    text-decoration: underline;
    cursor: pointer
}